.main-container {
        margin-left: 5%;
        margin-right: 5%;
}

.nav-below {
        margin-top: 25px;
        margin-bottom: 25px;
}

.nav-addition {
        color: rgba(0,0,0,0.5) !important; 
}

.nav-addition:hover {
        color: #FF6700 !important;
}

.card-addition {
        border: none !important;
}

.list-group-addition {
        border: none !important; 
        color: rgba(0,0,0,0.5) !important;    
}

.list-group-addition:hover {
        background: #FF6700;
}

.sub-title {
        color: rgba(0,0,0,0.5);
        font-size: 22px;
        font-weight: 200;
        line-height: 58px;
}

.phone-card:hover {
        -webkit-box-shadow:0px 3px 3px #c8c8c8 ;
        -moz-box-shadow:0px 3px 3px #c8c8c8 ;
        box-shadow:0px 3px 3px #c8c8c8 ;
}

.phone-card {
        border: none !important;
}

.card-description {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
}

.card-value {
        color: #FF6700;
        font-size: 14px;
}

.footer-font {
        color: #616161
}

.footer-font:hover {
        color: #FF6700 !important;
}

.footer-btn {
        border: solid 1px #FF6700 !important;
        width: 150px !important;
        color: #FF6700 !important;
}

.footer-btn:hover {
        background-color: #FF6700 !important;
        color: white !important;
}